/* Los estilos de tu proyecto */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
  }

  h1, h2, h3, h4 {
    color: white;
  }

  hr{
    margin: 0 15px 15px 15px;
  }


  .navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    margin: 0;
  }

  .navbar-toggle {
    float: left; 
    padding: 9px 10px;
    margin-left: 15px;
  }

  .navbar-brand {
    padding: 0px;
  }
  .navbar-brand>img {
    height: 100%;
    padding: 12px;
    width: auto;
  }

  .box-yellow{
    background-color: #f7b617;
    color: white;
    padding: 0 50px 30px 30px; 
    width: 100%;
  }

  .box-yellow h3 img {
    height: 100%;
    width: 8rem;
    padding: 0 0 0.5% 2%;
  }

  .main-container{
    background-image: url("../assets/images/taxi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }

  
  .boton-main{
    display: inline-block;
    margin-left: 1rem;
  }

  /* Segunda section */

  .section-yellow {
    background-color: #f7b617;
    /* align-items: flex-end; */
  }

  .text-image{
    display: flex;
    align-items: ;
    color: white;
  }

  .text-down {
    color: white;
    display: flex;
    justify-content: space-between;

  }

  .second-image {
    background-image: url(../assets/images/iPhone6Plus.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: space-between; /* align-items: center; */
    height: 100vh;
    border: 1px solid white;
    margin: 30px 0 0 0;
  }

  /* Tercera section */
  .section-three{
  background-image: url("../assets/images/conduce.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  filter:brightness(0.4);
  }

  .text-taxi{
    color:white;
    padding: 10%;
    z-index: 100;
  }

  .boton-second{
    background-color: #f7b617;
    border: none;
    color: white;
    margin-left: 1.5rem;
  }

  /* Section maps */

  .text-padding{
    padding-top: 20%;
  }

  .icon-section{
    display: inline-block;
    float: left;
    margin-left: 15px;

  }

  .form-mapas{
    margin-top: 10%;

  }

  .btn-mapas{
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
  }

  .img-mapas{
    border: 1px solid white;
    padding: 5%;
    margin-top: 15%;
    margin-bottom: 10%;
  }

  /* footer */

  .section-black{
    background-color: #2b2b2b;
  }

  .logo-white>img{
  height: 100%;
  padding: 12px;
  width: auto;
  }

  .pages a {
    color: white;
    text-decoration: none;
    line-height: 2.5;
  }

  @media (min-width: 768px) {
  .navbar-nav {
      float: right;
  }
}